.card {
    width: 25%;
    padding: 1rem;
    opacity: 0;
}

.card_header {
    width: 100%;
    padding:  1rem  0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card_header > img {
    width: 25%;
}

.card_title {
    width: 60%;
    font-size: 1.4rem;
    margin-left: 2px;
    font-weight: 700;
    font-family: var(--font);
}

.card_title > span {
    padding-left: 2px;
    font-size: 0.9rem;
    font-weight: 200;
}

.card_desc {
    padding:  0.5rem  0.2rem;
    font-size: 1.1rem;
    font-family: var(--font);
}

.fade_in {
    opacity: 1;
    transition: opacity 1s ease;
}