.hero {
    width: 100vw;
    height: 200px;
    background-color: #e7f0fd;
    position: relative;
}

.top_five {
    width: 70%;
    padding: 1rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
}

.top_five > h3 {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: var(--font);
    border-bottom: 1px solid black;
}

.content_top_4 {
    display: flex;
}

.card {
    width: 25%;
    padding: 1rem;
    border: 1px solid black;
    opacity: 0;
}

.card_header {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}

.card_header > img {
    width: 30%;
    border: 1px solid;
}

.card_title {
    width: 60%;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font);
}

.card_title > span {
    padding-left: 2px;
    font-size: 0.9rem;
    font-weight: 200;
}

.card_desc {
    padding:  1rem  0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 1px solid black;
}

.fade_in {
    opacity: 1;
    transition: opacity 1s ease;
}