.hero {
    width: 100vw;
    height: 200px;
    background-color: #e7f0fd;
    position: relative;
}

.top_five {
    width: 70%;
    padding: 1rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
}

.top_five > h3 {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: var(--font);
    border-bottom: 1px solid black;
}

.content_top_4 {
    display: flex;
}